{% extends 'base.html' %}
{% block content %}
  <style type="text/css">
    input, label, select {
        float:left;
        margin:10px;
    }
    .filter_course{
      height: 40px;
    }
    form{
      margin-left: 14%;
      margin-top: 2%;
    }
    .btn{
      height: 40px;
    }
  </style>
  <div class='col-md-12' style="background-color: black; height: 70px"><br>
    <div >
      <h1 style="color: white; font-style: italic; margin-top: -1%"><a href="/" style="color: white;">BigHelp.kg</a></h1>
    </div>
  </div>
  <div class="col-md-12">
    <form class="form-signin col-md-10" method="post">
      {% csrf_token %}
      <label>Возраст:</label>
      <input type="text" name="age" maxlength="30" class="filter_course" />
      <label>Тип занятии:</label> 
      <select name="course" class="btn-group bootstrap-select filter_course" data-live-search="true">
          {% for course in course_type %}
              <option value="{{ course.course_name }}">{{ course }}</option>
          {% endfor %}
      </select>
      <label>Город:</label>
      <select name="city" class="btn-group bootstrap-select filter_course" data-live-search="true">
          {% for city in city_list %}
              <option value="{{ city.city_name }}">{{ city }}</option>
          {% endfor %}
      </select>
      <input type="submit" value="Поиск" class="btn btn-lg btn-primary btn-block col-md-2">
    </form>
  </div>
  <div class="col-md-10" style="margin-left: 7.5%; margin-top: 5%">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Название курса</th>
          <th scope="col">Цена за месяц</th>
          <th scope="col">Номер телефона</th>
          <th scope="col">Адрес</th>
        </tr>
      </thead>
      <tbody>
        {% for course in courses %}
          <tr>
            <td>{{ course.course_name }}</td>
            <td>{{ course.course_price_for_moth }}</td>
            <td>{{ course.phone_number }}</td>
            <td>{{ course.addres }}</td>
            <td>
              <a href="/book_it/{{ course.id }}/" class="btn btn-lg btn-primary">Забронировать</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}