{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<style>
div.relative {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
} 

div.absolute {
    position: absolute;
    top: 0px;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b3;
    /*border: 3px solid #73AD21;*/
}

.line { 
    border-right: 2px solid #ccc; /* Параметры линии */ 
    margin-left: 0px; /* Отступ слева */
    padding-left: 0px; /* Расстояние от линии до текста */ 
}

</style>
  <div>
    <head>
      <img class="relative" src="http://innovativepeople.com/wp-content/uploads/2016/05/img-head.jpg" style="width: 100%; background-color: black; position: relative; height: 100%">
      <div class="absolute">
          <div class="col-md-6">
            <h1 style="text-align: center; color: white; font-style: italic; margin-top: 30%"> Добропожаловать! </h1>
            <p class="line" style="text-align: center; color: white; font-style: italic; margin-top: 5%; font-size: 25px">Образование детей превыше всего. Наша интернет приложение позволит вам выбрать для вашего ребенка подходящую тип занятии. И еще поможет тем кто набирает детей на свои курсы тем что вы можете опубликовать. При регистрации просим вас согласися с условиями сайта, в ином случае просто не сможете зарегистрироватся. Просим ознакомится условиями перед согласованием.</p>
          </div>
          <div class="col-md-6" style="margin-left: 57%; margin-top: -17%;">
            <a href="/user_panel" class="btn btn-lg btn-primary btn-block col-md-5" style="margin-top: 12%">Перейти в личный кабинет</a>
            <a href="/home" class="btn btn-lg btn-primary btn-block col-md-5" style="margin-top: 5%">Перейти на главную страницу</a>
          </div>
      </div>
    </head>
  </div>
{% endblock %}