{% extends 'base.html' %}
{% load bootstrap %}
{% block content %}
<div class='col-md-12' style="background-color: black; height: 70px"><br>
    <div >
      <h1 style="color: white; font-style: italic; margin-top: -1%"><a href="/" style="color: white;">BigHelp.kg</a></h1>
    </div>
  </div>
<h2 style="text-align: center; margin-top: 2%">{{title}}</h2>
<form method="post" class="col-md-5" style="margin-left: 29%">
	{% csrf_token %}
	{{ form|bootstrap }}
    <input type="submit" class="btn btn-primary" value="Продолжить">
</form>
{% endblock %}
