{% extends 'base.html' %}
{% load bootstrap %}
{% block content %}
<h2 style="text-align: center; margin-top: 2%">{{title}}</h2>
<form method="post" class="col-md-5" style="margin-left: 29%">
	{% csrf_token %}
	{{ form|bootstrap }}
    <input type="submit" class="btn btn-primary" value="Продолжить">
</form>
{% endblock %}