{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<style>
div.relative {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
} 

div.absolute {
    position: absolute;
    top: 0px;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b3;
    /*border: 3px solid #73AD21;*/
}

.line { 
    border-right: 2px solid #ccc; /* Параметры линии */ 
    margin-left: 0px; /* Отступ слева */
    padding-left: 0px; /* Расстояние от линии до текста */ 
}

</style>
  <div>
    <head>
      <img class="relative" src="http://innovativepeople.com/wp-content/uploads/2016/05/img-head.jpg" style="width: 100%; background-color: black; position: relative; height: 100%">
      <div class="absolute">
          <a href="/" class="btn btn-lg btn-primary btn-block col-md-1" style="background-color: black; border-color: black; border-radius: 0"><<Назад</a>
          <div class="col-md-6" style="margin-left: 33%; margin-top: 17%;">
            <form class="form-signin col-md-8" method="post">
              {% csrf_token %}
              <h1 class="form-signin-heading" style="color: white; text-align: center; font-style: italic;">Вход</h2><br>
              {% if error %}
                <p style="color: red;">{{ error }}</p>
              {% endif %}
              <input id="inputEmail" name="username" class="form-control" placeholder="Имя пользователя"><br>
              <input id="inputPassword" name="password" class="form-control" placeholder="Пароль" required="" type="password"><br>
              <input type="submit" value="Войти" class="btn btn-lg btn-primary btn-block col-md-5">
              <a href="/registration" class="btn btn-lg btn-primary btn-block col-md-5" style="margin-left: 58%; margin-top: -9%">Регистрироватся</a>
            </form>
          </div>
      </div>
    </head>
  </div>
{% endblock %}