{% extends 'base.html' %}
{% block content %}
  <div class='col-md-12' style="background-color: black; height: 70px"><br>
    <div >
      <h1 style="color: white; font-style: italic; margin-top: -1%"><a href="/" style="color: white;">BigHelp.kg</a></h1>
    </div>
  </div>
  <a href="/registration_course/" class="btn btn-lg btn-primary">Создать</a>
  <div class="col-md-10" style="margin-left: 7.5%; margin-top: 5%">
  {% if courses %}
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Название курса</th>
          <th scope="col">Цена за месяц</th>
          <th scope="col">Номер телефона</th>
          <th scope="col">Адрес</th>
        </tr>
      </thead>
      <tbody>
        {% for course in courses %}
          <tr>
            <td>{{ course.course_name }}</td>
            <td>{{ course.course_price_for_moth }}</td>
            <td>{{ course.phone_number }}</td>
            <td>{{ course.addres }}</td>
            <td>
              <a href="/update_course/{{ course.id }}/" class="btn btn-lg btn-primary">Редактировать</a>
            </td>
            <td>
              <a href="/delete_course/{{ course.id }}/" class="btn btn-lg btn-danger">Удалить</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else%}
    <p>Вы еще не создовали курсы!</p>
  {% endif %}
  </div>
{% endblock %}